
 body{

  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}
.header{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  }
.header, img{
  height: 50px;
  padding-left: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  }
a{
  color: seashell;
}

.top{
  display: flex;
  background-image: url("images/img-mission-background.jpg");
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  border-left: 75px solid black;
  border-right: 75px solid black;
  }
  .text{
    margin: auto;
    background-color: black;
    width: 1200px;
    text-align: center;
  }
.middle{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 75px solid black;
  border-right: 75px solid black;
}
.tea1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 10px;

}
.tea2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 10px;
}
.tea1, .tea2, img{
  margin: 0px 20px 0px 20px;
  border-bottom: 10px;
}
.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(images/img-locations-background.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 1200px;
  border-left: 75px solid black;
  border-right: 75px solid black;
}
.box{
  display: flex;
  }
.loctext{
  top: 0px;
}
.downtown, .eastbayside, .oakdale{
  display: inline-block;
  width: 300px;
  height: 250px;
  background-color: black;
  text-align: center;
  opacity: 1;
  top: 15px;
  margin: 20px;
}

.contact{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 200px;
}
.copy{
  border-left: 20px;
}
